@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunshiney&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.learnButton {
  width: 226px;
height:  60px;
padding: 18px 32px 18px 32px;
gap: 10px;
border-radius: 4px 0px 0px 0px;


}

.text-secondary-color {
  color: #00c6c3;
}

/* Media Queries for responsive design can still be useful */

@media (min-width: 768px) {
  .header-title {
    font-size: 3rem;
  }

  .header-description {
    font-size: 1.125rem;
  }

  .learnButton {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .header-title {
    font-size: 4rem;
  }

  .header-description {
    font-size: 1.25rem;
  }

  .learnButton {
    font-size: 18px;
  }
}
